<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email no válido</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">La contraseña necesita 6 carateres</ion-note>
    </ion-item>
 
    <ion-button  type="submit" expand="block" [disabled]="!credentials.valid">Iniciar sesion</ion-button>
    <ion-button  type="button" expand="block" color="secondary" routerLink="/register-page">Crear una cuenta</ion-button>
  </form>
</ion-content>
