<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Elige</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button id="mangaButtono" (click)="onClick()" expand="full" fill="solid" shape="round" routerLink="/manga-page">
    MANGA
  </ion-button>

  <ion-button (click)="onClick()" expand="full" fill="solid" shape="round" routerLink="/comic-page">
    COMICS
  </ion-button>

</ion-content>
