<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-input type="text" placeholder="Nombre"></ion-input>
    <ion-icon slot="start" name="person"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Apellidos"></ion-input>
    <ion-icon slot="start" name="person"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Nombre de Usuario"></ion-input>
    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Correo Electrónico"></ion-input>
    <ion-icon slot="start" name="mail"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Contraseña"></ion-input>
    <ion-icon slot="start" name="key"></ion-icon>
  </ion-item>

  <ion-text color="grey">
    <h6>Año y día de nacimiento</h6 >
  </ion-text>

  <ion-item>
    <ion-item>
      <ion-item>
        <ion-datetime display-format="YYYY-MM-DD"></ion-datetime>
      </ion-item>
    </ion-item>
  </ion-item>

  <ion-button (click)="onClick()" expand="block" shape="round" routerLink="/login-page" >
    Continuar
  </ion-button>

</ion-content>
