.mangaButton{
    margin-top: 80px;
    height: 200px;
}

.comicButton{
    margin-top: 40px;
    height: 200px;
}

.tituloChoose{
    margin-left: 140px;
    font-size: 30px;
    font-family:'Trebuchet MS';
}