<ion-toolbar>
  <ion-buttons slot="start">
    <!-- <ion-menu-button meu="main-content"></ion-menu-button> -->
    <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
  </ion-buttons>

  <ion-title>Mangas</ion-title>
</ion-toolbar>
<ion-searchbar
  placeholder="Nombre del Manga"
  inputmode="decimal"
  type="decimal"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
></ion-searchbar>

<ion-content>
  <ion-card>
      <img src="assets/icon/berserk_1_2.jpg">

    <ion-card-content>
      <h1>Berserk Tomo 1</h1>
      <h1>Precio: 16€</h1>
      La historia está ambientada en una época con tintes de la Europa medieval y renacentista, 
      en la cual se cuenta la vida de Guts, un mercenario huérfano que acompañado del elfo Puck, 
      caza seres demoníacos llamados apóstoles.
    </ion-card-content>

    <ion-card>
      <ion-item>
        <ion-button fill="outline" slot="end" routerLink="/pago-page-mangas">Comprar</ion-button>
        <ion-button fill="outline" slot="end" routerLink="/berserk-t1-reader">Leer</ion-button>
      </ion-item>
    </ion-card>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/fairy_tail_1_4.jpg">
    </ion-card-header>

    <ion-card-content>
      <h1>Fairy Tail</h1>
      <h1>Precio: 8€</h1>
      La serie relata las aventuras del joven mago Natsu Dragneel
      y su gato parlante Happy que viajan juntos en busca del d
      ragón Igneel, el cual Natsu declara que es su padre adoptivo,
      hasta que un día conocen a una chica llamada Lucy Heartfilia,
      una maga de espíritus celestiales.
    </ion-card-content>
    <ion-card>
      <ion-item>
        <ion-button fill="outline" slot="end" routerLink="/pago-page-mangas">Comprar</ion-button>
        <ion-button fill="outline" slot="end" routerLink="/fairytail-t1-reader">Leer</ion-button>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
