<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
  </ion-buttons>

  <ion-title>CÓMIC</ion-title>
</ion-toolbar>
<ion-searchbar
  placeholder="Nombre del Cómic"
  inputmode="string"
  type="string"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  showCancelButton="always"
></ion-searchbar>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="8" size-md="8" size-sm="6" size-xs="12">
        <ion-card>
          <img src="assets/icon/imagenVenomyPunisher.jpg" />

          <ion-card-content>
            <h1>Venom Funeral Pype</h1>
            <h1>Precio: 12€</h1>
            Punisher y Venom se unen en una aventura, están en el mismo lado de
            la pelea contra una pandilla de California que amenaza a la ciudad.
          </ion-card-content>
          <ion-card>
            <ion-item>
              <ion-button fill="outline" slot="end" routerLink="/pago-page-comics"
                >Comprar</ion-button
              >
              <ion-button fill="outline" slot="end" routerLink="/venom-fp-t3-reader"
                >Leer</ion-button
              >
            </ion-item>
          </ion-card>
        </ion-card>

        <ion-card>
          <img src="assets/icon/batman.jpg" />
          <ion-card-content>
            <h1>Batman: Night of the Monster Men</h1>
            <h1>Precio: 10€</h1>
            Cuando una gran tormenta se acerca a Gotham City, Batman, Batwoman y
            Nightwing intentan prepararse para lo peor, ¡Pero nada puede
            prepararlos para enormes monstruos que arrasan las calles! ¡Batman
            necesitará que todos sus aliados se unan para evitar que estos
            monstruos científicos locos destrocen su ciudad! ¿Serán suficientes
            el Caballero Oscuro, Batwoman, Nightwing, Robin, Spoiler, Orphan y
            Clayface? ¿Y quién es el cerebro detrás de todo esto?
          </ion-card-content>
          <ion-card>
            <ion-item>
              <ion-button fill="outline" slot="end" routerLink="/pago-page-comcis"
                >Comprar</ion-button
              >
              <ion-button fill="outline" slot="end" routerLink="/batman-reader"
                >Leer</ion-button
              >
            </ion-item>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


