<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input type="text" placeholder="Nombre de Usuario"></ion-input>
    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="Contraseña"></ion-input>
    <ion-icon slot="start" name="key"></ion-icon>
  </ion-item>

  <ion-button (click)="onClick()" expand="block" shape="round" routerLink="/choose-page">
    Iniciar Sesión
  </ion-button>



</ion-content>
