<ion-app class="pantalla">

  <ion-toolbar>
    <ion-title class="tituloHome" color="primary">
      ¡Bienvenido Geek!
    </ion-title>
  </ion-toolbar>


<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="13">
        
        <ion-button class="registerButton" size="large"  shape="square" color="secondary" routerLink="/register-page" >
          Registrarme
        </ion-button>

        <ion-button class="loginButton" expand="block" shape="outline" routerLink="/login-page">
          ¿Ya tienes cuenta? ¡Inicia aquí!
        </ion-button>

      </ion-col>
      </ion-row>
  </ion-grid>
   
</ion-content>
</ion-app>